@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Departure Mono';
  src: url('./fonts/DepartureMono-Regular.woff') format('woff');
}

:root {
  --background: #e1e1e1;
  --foreground: #171717;
  --primary: #4287f5;
  --secondary: #f5ff8a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #4287f5;
    --secondary: #f5ff8a;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Departure Mono", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.ProseMirror {
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
}